.Content {    
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.commentText {
    color: aliceblue;
}

.comment{
    margin: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width: 800px;
    height: 120px;
    background: #303030;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 20px;
}
