.register
{
    box-shadow: 10px -5px 5px #383838;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
    width: 450px;
    height: 350px;
    background: #303030;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
}